default_layout "top_bars"
theme "dracula-custom"
on_force_close "quit"
default_mode "locked"

ui {
    pane_frames {
        hide_session_name true
        rounded_corners true
    }
}

keybinds {
    locked {
        bind "Ctrl g" { SwitchToMode "Normal"; }
        bind "Alt t" { NewTab; }
        bind "Alt d" { NewPane; }
        bind "Alt Left" "Alt [" { GoToPreviousTab; } // Alt + left or [
        bind "Alt Right" "Alt ]" { GoToNextTab; } // Alt + right or ]
        bind "Alt z" { ToggleFocusFullscreen; } // Alt + z
        bind "Alt !" { GoToTab 1; }
        bind "Alt @" { GoToTab 2; }
        bind "Alt #" { GoToTab 3; }
        bind "Alt $" { GoToTab 4; }
        bind "Alt %" { GoToTab 5; }
        bind "Alt ^" { GoToTab 6; }
        bind "Alt &" { GoToTab 7; }
        bind "Alt *" { GoToTab 8; }
        bind "Alt (" { GoToTab 9; }
        bind "Alt )" { GoToTab 10; }
    }
}

themes {
   dracula-custom {
        fg 248 248 242
        bg 40 42 54
        black 40 42 54
        red 255 85 85
        green 80 250 123
        yellow 241 250 140
        blue 98 114 164
        magenta 255 121 198
        cyan 139 233 253
        white 255 255 255
        orange 255 184 108
    }
}
